@media (max-width: 768px) { 
	#background 
	{
		background: url("../Images/brookingsxs.jpg") no-repeat center center ;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	#background 
	{
		background: url("../Images/brookingssm.jpg") no-repeat center center ;
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	#background 
	{
		background: url("../Images/brookingsmd.jpg") no-repeat center center fixed;
	}
}
@media (min-width: 1200px) {
	#background 
	{
		background: url("../Images/brookings.jpg") no-repeat center center fixed;
	}
}

body
{
	background: none;
	background-color: white;
}
#background
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 547px;

}

.title
{
	margin-bottom: 0;
	background-color: rgba(200,200,200,.5);
	color: white;
}

.titleHeader
{
	color:white;
}

.jumbotron
{
	background-color:transparent;
	border-radius: 10px;
	color: white;	
	padding-bottom: 20px;
	position: relative;
	margin-top: 0px;;
	font-size: 20px;	
}

.jumbotron .jumbo_background
{
	background-color: rgba(256, 256, 256, .5);
	padding: 20px;
	margin-top: 120px;
	border-radius: 10px;
}

.jumbotron h1
{
	color: black;
	font-weight: 400;
}

.jumbotron p
{
	font-weight: 125;
	color: black;
}

.logos
{
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

#summerContacts .il
{
	display: inline;
}

#summerContacts .glyphycon
{
	margin-left: 10px;
}

/* Change later just inc ase */
#summerContacts img {
	width: 150px;g
}