@media (max-width: 768px) { 
	#background, #reg_container 
	{
		background: url("../Images/kimgGagnonBgxs.jpg") no-repeat center center ;
	}
}
@media (min-width: 768px) and (max-width: 992px) { 
	#background, #reg_container 
	{
		background: url("../Images/kimgGagnonBgsm.jpg") no-repeat center center ;
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	#background, #reg_container 
	{
		background: url("../Images/kimgGagnonBgmd.jpg") no-repeat center center fixed;
	}
}
@media (min-width: 1200px) {
	#background, #reg_container 
	{
		background: url("../Images/kimgGagnonBg.jpg") no-repeat center center fixed;
	}
}
#main
{
	background-image: url("../Images/cream_pixels.png");

}

ul.dl
{
	padding-left: 0;
	margin-bottom: 0;
}

.question
{
	padding: 15px;
	border-bottom: 1px dashed #b2b3b4;
	list-style-type: none;
	font-weight: bold;
	cursor: pointer;
}

.question.even
{
	background-color: #C6E7CE;
}
.question.odd
{
	background-color: #CEFFCE
		;
}
.question.selected{
	background-color: white;
}

.question .plus
{
	font-size: 19px;
	color: light-green;
}

.q
{
	font-size: 20px;
	margin-right: 10px;
	color: grey;
}
.q.black
{
	color: black;
}

.answer
{
	margin-left: 50px;
	font-weight: normal;
}

#background, .fodoter
{
	background: url("../Images/kimgagnonbg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image-size: cover;
}
#background
{
	height: 547px;
}

.title
{
	margin-bottom: 0;
	background-color: rgba(200,200,200,.5);
	color: white;
}

.titleHeader
{
	color:white;
}
 #jumborow
 {
 	padding-top: 20px;
 }
.jumbotron
{
	background-color:transparent;
	float: left;
	border-radius: 10px;
	color: white;	
	padding-bottom: 20px;
	position: relative;
	margin-top: 110px;
	padding: 40px 100px
	font-size: 20px;*/
}

.jumbotron .jumbo_background
{
	background-color: rgba(256, 256, 256, .3);
	padding: 20px;
	border-radius: 10px;
}

.jumbotron h1
{
	color: black;
	font-weight: 400;
}

.jumbotron p
{
	font-weight: 125;
	color: black;
}

.logos
{
	margin-top: 40px;
	text-align: center;
}

.footer 
{
	background-color: darkgrey;
	color: white;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 24px;

}